<?xml version="1.0" encoding="UTF-8" ?>
<plugin>
    <name>MdMan</name>
    <version>0.1</version>
    <author>Daniel Pozzi</author>
    <email>bonndan76@googlemail.com</email>
    <website>http://github.com/bonndan</website>
    <description>
        A PHPDoc2 plugin to extra markdown from class doc blocks and merge them into one
        markdown file and then have them convert into LaTeX/PDF.
    </description>
    <class_prefix>\MdMan</class_prefix>
    <listener>Listener</listener>
    <options>
        <!--<option name="Option1">value</option>-->
    </options>
</plugin>